---
layout: style
---
.img-logo {
  width: 150px;
}

.navbar-brand {
  padding-top: 0px;
}

.feature-even {
  margin-left: 8px;
  margin-right: 8px;
  float: none;
}

.feature-odd {
  float: none;
}

@media(min-width:768px) {
  .feature-even {
    float: left;
  }

  .feature-odd {
    float: right;
  }
}

.logos-center {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.featured-logo {
  height: 4em;
  opacity: 0.2;
  filter: grayscale(100%);
  margin-left: 10px;
  margin-right: 10px;
}

#featured-logos {
  padding: 0;
  padding-top: 50px;
}
