<!-- Pricing Section -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Priser</h2>
                    <h3 class="section-subheading text-muted">I takt med att företaget växer erbjuder vi förmånligare pris. <a href="{{ "/paid#paid" | prepend: site.baseurl }}">Läs mer</a> om vad du får när du väljer att betala för Treks. Kontakta oss för rabatt vid stora volymer.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="row pricing-box">
                        <div><h4>Små företag</h4></div>
                        <div class="price-push">
                          <div><h1>Gratis</h1></div>
                        </div>
                        <div class="text-muted">
                          <p>upp till 5 användare</p>
                          <p><a href="https://app.treks.se/sv/signup" class="btn btn-xl">Skaffa nu</a></p>
                          <p>inga kortuppgifter behövs</p>
                        </div>
                      </div>

                      <div class="row pricing-box">
                        <div><h4>Växande företag</h4></div>
                        <div class="price-push">
                          <div><h1>49 kr</h1></div>
                          <div><h4>per användare</h4></div>
                        </div>
                        <div class="text-muted">
                          <p>per månad</p>
                          <p><a href="https://app.treks.se/sv/signup" class="btn btn-xl">Skaffa nu</a></p>
                          <p>inga kortuppgifter behövs</p>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
