<!-- Team Section -->
<section id="privacy" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sekretesspolicy</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                <p class="text-muted">
                    Denna sekretesspolicy modiferades 14 maj 2014. Katakumo AB ("oss", "vi", "vår") driver treks.se och alla underdomäner ("webbplatsen"). Denna sida informerar om vår policy när det gäller insamling, användning och utlämnande av personuppgifter vi erhåller från webbplatsens användare. Vi använder dina personuppgifter endast för att tillhandahålla och förbättra webbplatsen. Genom att använda webbplatsen godkänner du till insamling och användning av information i enlighet med denna policy. Om inte annat definieras i denna sekretesspolicy, så har termer som används i denna policy samma betydelse som i våra användarvillkor, vilka du hittar på treks.se.

                </p>

                <h5 class="section-heading">Informationsinsamling och användning</h5>

                <p class="text-muted">
                  När du använder vår webbplats, kan vi be dig att förse oss med viss personlig information som kan användas för att kontakta eller identifiera dig. Personligt identifierbar information kan inkludera, men är inte begränsat till, ditt namn, e-postadress, postadress och telefonnummer ( "Personuppgifter").
                </p>
                <h5 class="section-heading">Loggdata</h5>

                <p class="text-muted">
                    Liksom många webbplatsoperatörer, samlar vi in ​​information som din webbläsare skickar när du besöker vår webbplats ( "loggdata"). Denna loggdata kan innehålla information som datorns Internet Protocol ( "IP") adress, typ av webbläsare, webbläsarversion, webbsidorna du besöker, tid och datum för ditt besök, den tid som tillbringas på dessa sidor och annan statistik.
                </p>
                <h5 class="section-heading">Cookies/Kakor</h5>

                <p class="text-muted">
                    Cookies är filer med liten mängd data, som kan innefatta en anonym unik identifierare. Cookies skickas till din webbläsare från en webbplats och lagras på datorns hårddisk. Liksom många platser, använder vi "cookies" för att samla in information. Du kan instruera din webbläsare att neka alla cookies eller visa när en cookie skickas. Men om du inte accepterar cookies, kan du inte att kunna använda vissa delar av vår webbplats.
                </p>
                <h5 class="section-heading">Säkerhet</h5>

                <p class="text-muted">
                    Säkerheten för din personliga information är viktig för oss, men kom ihåg att ingen metod för överföring via Internet, eller metod för elektronisk lagring, är 100% säker. Samtidigt som vi strävar efter att använda kommersiellt godtagbara sätt att skydda dina personuppgifter, kan vi inte garantera dess absoluta säkerhet.
                </p>
                <h5 class="section-heading">Länkar till andra webbplatser</h5>

                <p class="text-muted">
                    Vår webbplats kan innehålla länkar till andra webbplatser som inte drivs av oss. Om du klickar på en tredjeparts-länk kommer du att hänvisas till den tredje partens webbplats. Vi råder dig att granska sekretesspolicyn för varje webbplats du besöker. Katakumo AB har ingen kontroll över, och tar inget ansvar för innehållet, sekretesspolicy eller praxis av någon tredje parts webbplatser eller tjänster.
                </p>
                <h5 class="section-heading">Ändringar av denna policy</h5>

                <p class="text-muted">
                    Katakumo AB kan uppdatera denna sekretesspolicy från tid till annan. Vi kommer att meddela dig om eventuella ändringar genom att publicera den nya sekretesspolicy på webbplatsen. Du uppmanas att granska denna sekretesspolicy med jämna mellanrum för eventuella ändringar.
                </p>
                <h5 class="section-heading">Kontakta oss</h5>

                <p class="text-muted">
                    Om du har några frågor om denna sekretesspolicy, vänligen kontakta oss.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>
